* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto';
  color: #000000;
}

/*
Headings
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

h1 {
  font-size: 36px;
  color: #000000;
}

h2 {
  font-size: 32px;
  color: #000000;
}

h3 {
  font-size: 26px;
  color: #000000;
}

h5 {
  font-size: 24px;
}

/*
Hyperlinks
*/
a:link,
a:visited {
  color: #000000;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}

a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

/*
Image alignment
*/
.alignleft,
img.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright,
img.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

img {
  max-width: 100%;
  max-height: auto;
}


.logo {
  padding: 30px 0;
}

.logo img{
  width: 150px;
}

.wrap {
  padding: 30px 100px;
  min-height: 600px;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: #000000;
  width: 50%;
}

.form-submit-button {
  background-color: #e46612d3;
  border: none;
  color: #ffffff;
  padding: 13px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 30%;
}

.form {
  padding: 40px 0;
}

button {
  background-color: #D2691E;
  border: none;
  color: #ffffff;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 10%;
}

.share input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: #000000;
  width: 20%;
}

.ref input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: #000000;
  border: 1px solid #4caad8;
  width: 80%;
}

textarea {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: #000000;
  border: 1px solid #4caad8;
  width: 80%;
}

.testimonial h3 {
  font-size: 20px;
}

#spclink {
  margin: 0 5px 0 5px;
}

.contact {
  text-align: center;
  padding: 50px 0;
}

.social-media ul li {
  display: inline;
  font-size: 16px;
  padding: 0 15px 0 0;
}

#one {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#two {
  margin: 0;
  padding: 0;
}

#three {
  color: #ffffff;
  font-size: 20px;
  padding: 30px 0 0 0;
}

hr {
  background-color: #ffffff;
  width: 10%;
}

.ftr {
  text-align: center;
  padding: 30px 0;
}

.success {
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}

.logo-inside {
  text-align: center;
  padding: 40px 0;
}

.headline {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

/*
Footer
*/
footer {
  margin: 100px 0 0 0;
  padding: 0 0 0 50px;
  text-align: center;
}

.spc-tp-20 {
  padding: 20px 0;
}

.copyright p {
  font-size: 14px;
  color: #ffffff;
  padding: 15px 0 0 0;
}

.menu-footer {
  padding: 10px 0 0 0;
}

.menu-footer ul li {
  display: inline;
  font-size: 16px;
  padding: 0 15px 0 0;
}


.menu-footer a:link,
.menu-footer a:visited {
  color: #ffffff;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}

.menu-footer a:hover,
.menu-footer a:active {
  color: #ffffff;
  text-decoration: none;
}



/*******************************************************/
/* MEDIA QUERIES */
/*******************************************************/

/* IE 10+ VIEWPORT FIX */
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}




@media only screen and (max-width: 1200px) {

  .headline {
    max-width: 80%;
  }
}

@media only screen and (max-width: 767px) {

  footer {
    text-align: center;
    margin: 50px 0 0 0;
  }

  input[type=text] {
    width: 100%;
  }

  .form-submit-button {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .share input[type=text] {
    width: 100%;
  }

  .wrap {
    padding: 5px 20px;
  }

  .logo {
    padding: 5px 0;
  }

  .headline {
    max-width: 100%;
  }

  .form {
    padding: 5px 0 20px 0;
  }

  .headline h1 {
    font-size: 28px;
  }

  .headline h3 {
    font-size: 22px
  }

  .testimonial {
    padding: 20px 0;
  }

}